/*Using a separate .css file called style.css instead of inline styling or the style tag, 
have each group member change ten different style properties throughout all your webpages 
using CSS selectors (like h1, li, a, etc) for at least 5 different kinds of html tags that 
occur in throughout your team website (set this up so that every html page links to the same 
style.css page, don’t use inline styling or the <style> tag anywhere but in the style.html you did in the previous step).  
Document these contributions in your WDD.*/

/*Global changes here (Overwrite this using !important)*/
html{
    overflow-y: scroll;
    font-family: Helvetica;
}
/*Global changes here*/

/*Background Gradient Animation*/
body {
  background: linear-gradient(80deg, #bce8bc, #ffddcc);
  background-size: 400% 400%;

  -webkit-animation: GradientAnimation 7s ease infinite;
  -moz-animation: GradientAnimation 7s ease infinite;
  animation: GradientAnimation 7s ease infinite;
}

@-webkit-keyframes GradientAnimation {
  0%{background-position:0% 57%}
  50%{background-position:100% 44%}
  100%{background-position:0% 57%}
}
@-moz-keyframes GradientAnimation {
  0%{background-position:0% 57%}
  50%{background-position:100% 44%}
  100%{background-position:0% 57%}
}
@keyframes GradientAnimation {
  0%{background-position:0% 57%}
  50%{background-position:100% 44%}
  100%{background-position:0% 57%}
}
/*Background Gradient Animation*/

/*Index Page Logo*/
#HTMLHandyLogo{
  animation-name: fadeIn;
  animation-duration: 5s;
}
/*Fade In Animation*/
/*Feel free using this anywhere with anything, 
just simply reference the animation name and set a duration for it*/
@keyframes fadeIn{
  0%{
    opacity: 0.1;
    transform: scale(0.1);
  }
  100%{
    opacity: 1;
    transform: scale(1);
  }
}

/*==========Flip Card CSS (By Preston Valles with help of w3schools)==========*/
.row{
  display: flex;
  align-content: center;
  flex-wrap: wrap;
}
.cardColumn{
  padding: 16px;
  float: left;
  margin: 16px;
  flex: 1;
}
@media screen and (max-width: 650px){
  .cardColumn{
    width: 100%;
    display: block;
  }
}
.CardContainer{
  padding: 0 16px;
}
.cardButton{
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

a.cardButton{
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}
.cardButton:hover{
  background-color: rgb(83, 83, 83);
}
.buttonLink{
  text-decoration:none;
  display: block;
}
.flip-card {
    width: 300px;
    height: 500px;
    perspective: 1000px;
    margin:auto;
  }
  
  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }
  
  /* Style the front side*/
  .flip-card-front {
    height: 500px;
    width: 300px;    
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color:white;
  }
  
  /* Style the back side */
  .flip-card-back {
    transform: rotateY(180deg);
    height: 500px;
    width: 300px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color:white;
  }
  /*==========Flip Card CSS End==========*/

/*==========Nav Bar Styling==========*/
.menu {
    text-align: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.menu li{
    display: inline;
    background-color: rgb(255, 190, 136);
    padding: 5px 10px;
    margin: 0px;
}

a:link {
    color: white;
    font-family: Helvetica;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
a:visited{
  color: white;
}
.menu li a:hover {
    color: #666666;
}
/*==========Nav Bar Styling end==========*/
.resize_fit_center_LOGO {
    display: block;
    width: 600px;
    height: 450px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 0%;
    padding-bottom: 0%;
}
/*==========STYLE PAGE==========*/
.styleHeader{
  background-color: #aae6aa;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 50px auto;
  padding: 5px 0px;
  text-align: center;
  width: 570px;

  animation-name: fadeIn;
  animation-duration: 2s;
}
.styleContentDiv1{
  background-color: #aae6aa;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 50px auto;
  width: 1000px;
  height: 500px;
  min-width: 50%;
  min-height: 50%;
}
.styleContentDiv1 p{
  display: inline-block;
  margin: 250px 50px;
}
.styleContentDiv1 img{
   vertical-align: middle;
   width: 50%;
   height: 50%;
}
.styleContentDiv1 img#DivImg1{
  vertical-align: middle;
   width: 60%;
   height: 70%;
   margin: 0 50px;
}

.styleContentDiv1 img#DivImg2{
  vertical-align: middle;
   width: 50%;
   height: 30%;
   margin: 0 25px;
}

/*========STYLE PAGE END========*/
/*==========TYLER NOE PERSONAL PAGE==========*/
#NoePage {
  background: linear-gradient(80deg, #991c1c, #0092c8);
  background-size: 400% 400%;

  -webkit-animation: NoeAnimation 7s ease infinite;
  -moz-animation: NoeAnimation 7s ease infinite;
  animation: NoeAnimation 7s ease infinite;
}

@-webkit-keyframes NoeAnimation {
  0%{background-position:0% 59%}
  50%{background-position:100% 42%}
  100%{background-position:0% 59%}
}
@-moz-keyframes NoeAnimation {
  0%{background-position:0% 59%}
  50%{background-position:100% 42%}
  100%{background-position:0% 59%}
}
@keyframes NoeAnimation {
  0%{background-position:0% 59%}
  50%{background-position:100% 42%}
  100%{background-position:0% 59%}
}

.NoeStyleHeader{
  background-color: #2b93b3;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 50px auto;
  padding: 5px 0px;
  text-align: center;
  width: 570px;
 
  animation-name: fadeIn;
  animation-duration: 2s;
}

.NoeStyleHeader h1{
  font-family: 'Courier New', Courier, monospace;
}

.NoeStyleContentDiv1{
  background-color: #2b93b3;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: auto;
  width: 1200px;
  height: 550px;
  min-width: 50%;
  min-height: 50%;
}

.NoeStyleContentDiv1 h2{
  font-family: 'Courier New', Courier, monospace;
  font-size: large;
  padding-left: 10px;
  
}

.NoeStyleContentDiv1 p{
  display: inline;
  margin: auto;
  font-family: 'Courier New', Courier, monospace;
  font-size: larger;
  padding-left: 10px;
  
}

.NoeStyleContentDiv1 img{
   vertical-align: auto;
   width: 50%;
   height: 80%;
}
#NoeContainerLeft{
  
  float:left;
  text-align: center;
  margin: 200px 100px;
}
#NoeContainerRight{
  margin-top: 100px;
  margin-right: 12px;
  float:right;
}

#NoeList{
  display: inline;
  margin: auto;
  
}

#NoeList ol{
  font-family: 'Courier New', Courier, monospace;

}

#NoeList li{
  font-family: 'Courier New', Courier, monospace;
  font-size: large;
}

/*Noe's Custom Animation Below*/
@keyframes customAnimNoe {
  0%   {background-color:red; left:0px; top:0px;}
  25%  {background-color:yellow; left:150px; top:0px;}
  50%  {background-color:blue; left:150px; top:150px;}
  75%  {background-color:green; left:0px; top:150px;}
  100% {background-color:red; left:0px; top:0px;}
}

.CustomAnimNoe {
  width: auto;
  height: auto;
  border-radius: 50%;
  position: relative;
  animation-name: customAnimNoe;
  animation-duration: 4s;
  animation-direction: alternate-reverse;  
  animation-iteration-count: infinite;
}

/*==========TYLER NOE PERSONAL PAGE END==========*/
/*==========TYLER MITCHELL PERSONAL PAGE=========*/
#MitchellPage {
  background: linear-gradient(300deg, #991c1c, #000000);
  background-size: 400% 400%;

  -webkit-animation: MitchellAnimation 7s ease infinite;
  -moz-animation: MitchellAnimation 7s ease infinite;
  animation: MitchellAnimation 7s ease infinite;
}

@-webkit-keyframes MitchellAnimation {
  0%{background-position:0% 59%}
  50%{background-position:100% 42%}
  100%{background-position:0% 59%}
}
@-moz-keyframes MitchellAnimation {
  0%{background-position:0% 59%}
  50%{background-position:100% 42%}
  100%{background-position:0% 59%}
}
@keyframes MitchellAnimation {
  0%{background-position:0% 59%}
  50%{background-position:100% 42%}
  100%{background-position:0% 59%}
}
   
.MitchellstyleHeader{
  background-color: #aae6aa;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 50px auto;
  padding: 5px 0px;
  text-align: center;
  width: 570px;

  animation-name: fadeIn;
  animation-duration: 2s;
}

.MitchellstyleHeader h1{
  font-family: monospace;
}

.MitchellstyleContentDiv1 p{
  font-family: 'Courier New', Courier, monospace;
  display: inline;
}

.MitchellstyleContentDiv1{
  background-color: #aae6aa;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 50px auto;
  width: 1000px;
  height: 500px;
  min-width: 50%;
  min-height: 50%;
}

.MitchellstyleContentDiv1 h2 {
  width: 100px;
  height: 100px;
  margin: 40px auto;
  position: relative;
  border-radius: 50%;
  background: linear-gradient(
    35deg,
    #010202,
    #b40000
  );
  animation-name: bounce;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  text-align: center;
  color: white;
  
}
#content_2  p{
font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

@keyframes bounce{
  0% {
    top: 0px;
  }
  50% {
    top: 249px;
    width: 130px;
    height: 70px;
  }
  100% {
    top: 0px;
  }
}
/*==========TYLER MITCHELL PERSONAL PAGE END=====*/
/*==========JAEDEN GREENE PERSONAL PAGE==========*/
#GreenePage {
  background: linear-gradient(80deg, #b474f0, #73f7f0);
  background-size: 400% 400%;

  -webkit-animation: GreeneAnimation 5s ease infinite;
  -moz-animation: GreeneAnimation 5s ease infinite;
  animation: GreeneAnimation 5s ease infinite;
}

@-webkit-keyframes GreeneAnimation {
  0%{background-position:0% 59%}
  50%{background-position:100% 42%}
  100%{background-position:0% 59%}
}
@-moz-keyframes GreeneAnimation {
  0%{background-position:0% 59%}
  50%{background-position:100% 42%}
  100%{background-position:0% 59%}
}
@keyframes GreeneAnimation {
  0%{background-position:0% 59%}
  50%{background-position:100% 42%}
  100%{background-position:0% 59%}
}
.JaedenStyleHeader{
  background-color: #d9b1ff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 50px auto;
  padding: 5px 0px;
  text-align: center;
  width: 570px;
 
  animation-name: fadeIn;
  animation-duration: 2s;
}
.JaedenStyleHeader h1{
  font-family: 'sans-serif', Verdana;
}

.JaedenStyleContentDiv p{
  font-family: 'sans-serif', Verdana;
  display: inline-block;
}

.JaedenStyleContentDiv{
  background-color: #d9b1ff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 50px auto;
  width: 1000px;
  height: 500px;
  min-width: 50%;
  min-height: 50%;
}

/*==========JAEDEN GREENE PERSONAL PAGE END==========*/
/*==========PRESTON VALLES PERSONAL PAGE==========*/
.styleContentDiv1 img#PrestonImg{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5); 
  height: 75%;
}
.styleContentDiv1 p#PrestonDescription{
  margin: 250px 100px;
  display: inline-block;
  text-align: center;
}
/*==========PRESTON VALLES PERSONAL PAGE END==========*/
/*==========EASTER EGG CSS==========*/
.sneakylink{
  text-decoration: none;
  color: black !important;
}
/*==========EASTER EGG CSS END==========*/

